*.bin
*.cof
*.err
*.hex
*.scvd
*.sta
*.sym
*.tmp
*.tre
~*.*

doc/doxygen/S8-54/*

sources/.vs/*

sources/S8-54/DebugConfig/*
sources/S8-54/Listings/*
sources/S8-54/Objects/*
sources/S8-54/Bootloader/DebugConfig/*
sources/S8-54/Bootloader/Listings/*
sources/S8-54/Bootloader/Objects/*

sources/VS-OSCI/Boot54/Debug/*
sources/VS-OSCI/Client/Client/.vs/*
sources/VS-OSCI/Client/Client/bin/*
sources/VS-OSCI/Client/Client/obj/*
sources/VS-OSCI/Controller/.vs/*
sources/VS-OSCI/Controller/bin/*
sources/VS-OSCI/Controller/obj/*
sources/VS-OSCI/ControllerETH/obj/*
sources/VS-OSCI/InterfacePC/.vs/*
sources/VS-OSCI/InterfacePC/InterfacePC/bin/*
sources/VS-OSCI/InterfacePC/InterfacePC/obj/*
sources/VS-OSCI/S8-54/Debug/*
