*.tmp
*.*sdf
*.bak
*.v12.suo
*.suo
*.pdb
*.cof
*.o
*.Sasha
*.exp
*.tlog
*.edb
*.lst
*.hex
*.err
*.mcw
*.sta
*.sym
*.tre
*.log
*.idb
*.obj
*.bin
*.pdf
~*.*
Makefile
NMakefile
_old_for_delete_
*.dbgconf
*.i*
*.cfg
*.cmd*
Archiv
sources/S8-53/Objects
sources/S8-53/out
sources/S8-54/Objects
sources/S8-53/Listings
sources/S8-54/Listings
sources/VS-OSCI/S8-53/Debug
sources/VS-OSCI/S8-54/Debug
sources/VS-OSCI/S8-53/ARM
sources/VS-OSCI/S8-54/ARM
sources/VCP_53/Listings
sources/VCP_53/Objects
sources/VCP_54/Listings
sources/VCP_54/Objects
sources/VS-OSCI/Client/Client/bin
sources/VS-OSCI/Client/Client/obj
sources/VS-OSCI/Controller/bin
sources/VS-OSCI/Controller/obj
sources/VS-OSCI/ControllerUSB/bin
sources/VS-OSCI/ControllerUSB/obj
sources/VS-OSCI/ControllerETH/bin
sources/VS-OSCI/ControllerETH/obj
sources/VS-OSCI/ControllerETH/Controller S8-53/bin
sources/VS-OSCI/ControllerETH/Controller S8-53/obj
sources/VS-OSCI/Display/Debug
sources/S8-54/Bootloader/Objects
sources/S8-54/Bootloader/Listings
sources/Display/Display.hex
bins